.card {
    flex-basis: 300px;
    margin: 20px;
    box-shadow:  1px 1px 4px 2px #CCC;
    height: 600px;
    width: 1000px;
}

.card div {
    padding: 10px 20px;
}

.card p {
    display: flex;
    justify-content: space-between;
}